label {
    display: block;
    font-weight: bold;
}

input[type=text] {
    width: 90%;
}

input[type=submit] {
    display: block;
    width: 240px;
    margin: 0 auto;
}

#addModuleID {
    width: auto;
}

.advancedFeedFields {
    display: none;
    margin-left: 0;
    padding-left: 0;
}