label {
    display: block;
    font-weight: bold;
    float: left;
    width: 110px;
}

input[type=text] {
    width: 120px;
}

input[type=submit] {
    display: block;
    width: 240px;
    margin: 0 auto;
}

#addModuleID {
    width: auto;
}
