/* Redefinition of basic elements */

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #d9e0e8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.28em;
	color: #202629;
	padding: 0.2em;
}

a {
	color: #a33;
}

a:visited {
	color: #a33;
}

a img {
	border: none;
}

h1, h2, h3 {
	line-height: 1.2em;
	color: #000;
}

h1 {
	font-size: 171%;
	font-weight: normal;
	margin: 10px 0;
	padding: 0;
}

h2 { 
	font-size: 142%; 
	font-weight: normal;
	margin: 0 0 6px 0;
	padding: 0;
}

h3 {
	font-size: 100%; 
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

h4 {
	font-size: 100%; 
	font-weight: bold;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 10px 0;
}

th, td, li, option, select, input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

ul {
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
}

ul li {
	padding: 0 0 4px 0;
}

/* Major layout blocks */

#container {
	padding: 5px;
}

#header {
	margin: 0;
	padding: 8px;
	font-size: 142%;
}

#header a {
	text-decoration: none;
	color: #444;
}

#footer {
	height: 2em;
	margin: .5em 0 1em 0;
	padding: .5em;
	font-size: 79%;
	line-height: 1.33em;
	color: #666;
}

/* Forms */

form {
	margin: 0 0 1em 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.combobutton {
	background-color: #933;
	color: #fff;
}

.inputcombo .forminput {
	font-size: 100%;
	float: left;
	width: 60%;
	padding: .2em;
}

.inputcombo .combobutton {
	font-size: 100%;
	padding: 0 .2em;
	margin-left: .3em
}

/* Navigation and results listings */
/* Many smartphones don't correctly interpret "display:block" for inline elements like <a> */

.nav {
	margin: 1em 0;
	padding: .5em;
	background-color: #fff;
	font-size: 100%;
	line-height: 1.75em;
}

.secondary {
	margin: 1em 0;
	padding: .4em;
	background-color: #edf1f7;
	font-size: 93%;
	line-height: 1.6em;
}

.paging {
	margin: 0;
	padding: .4em;
	font-size: 93%;
	line-height: 1.6em;
}

.bottomnav {
	margin: 1.5em 0 0.75em 0;
	padding: .4em;
	background-color: #909eac;	
	font-size: 93%;
	line-height: 1.5em;
}

.bottomnav a {
	color: #fff!important; 
}

.bottomnav a:visited {
	color: #fff!important; 
}

.results {
	font-size: 100%;
	line-height: 1.75em;
	margin-bottom: 1em;
}

.announcements {
	font-size: 100%;
	color: #606363;
	padding: 5px;
}

/* Specific content formatting */

.focal {
	background-color: #fff;
	padding: .5em;
}

.nonfocal {
	padding: .4em;
}

.paging {
	text-align: left;
	margin: 1em 0;
}

.legend {
	margin-top: 0.5em;
	font-size: 79%;
	line-height: 1.36em;
	color: #666;
}

.smallprint {
	font-size: 86%;
	font-weight: normal;
	line-height: 1.36em;
	color: #666;
}

.fineprint {
	font-size: 71%;
	line-height: 1.1em;
	color: #666;
}

.clear {
	clear: both;
}

.label {
	width: 3.5em;
	color: #627ba1;
}

.value {
	font-size: 100%;
}

.divider {
	height: 0;
	margin: 0.75em 0;
	border: none;
	border-top: 1px dotted #999;
}

hr {
	display: none;
}

.bb {
	display: none;
}

.image {
	text-align: center;
	padding-bottom: .4em;
}

.hidden {
	visibility: hidden;
}

.maintable {
	width: 100%;
	background-color: #fff;
}

.maintable td, .maintable th {
	padding: .21em .36em;
}

.centered {
	text-align: center
}

.fontsize {
	padding: 0.5em;
}

.fontsmall {
	font-size: 5pt;
}

.fontmedium {
	font-size: 8pt;
}

.fontlarge {
	font-size: 11pt;
}

.fontxlarge {
	font-size: 13pt;
}

/* Iconically coded links - e.g., Shuttle Schedule, 3DOWN, etc. */

a.icon {
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

span.icon {
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-right: 6px;
}

.icon span {
	padding: 3px 0 3px 17px;
	line-height: 1.14em;
}

.gps {
	background-image: url(../images/basic/gps.gif);
}

.sch {
	background-image: url(../images/basic/schedule.gif);
}

.ok {
	background-image: url(../images/basic/ok.gif);
}

.alert {
	background-image: url(../images/basic/alert.gif);
}

.warning {
	background-image: url(../images/basic/warning.gif);
}

.critical {
	background-image: url(../images/basic/critical.gif);
}

.running {
	background-image: url(../images/basic/shuttle.gif);
}

/* Tabs */

.tabs {
	color: #999;
	margin: 1.5em 0 1em 0;
}

.tabs .active {
	font-weight: bold;
	color: #000;
}

.tabs a {
	font-weight: normal;
}