/* Redefinition of basic elements */

html {
	font-size: 14pt;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebe7dd; 
	background-image: url('../Basic/images/background-tile.png');
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.33em;
	color: #333;
	padding: 0em;
}

a {
	color: #a00;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #a00;
}

a img {
	border: none;
}

h1, h2, h3 {
	line-height: 1.2em;
	color: #000;
}

h1 {
	font-family: Georgia, serif;
	font-size: 150%;
	font-weight: normal;
	color: #1a1611;
	margin: 10px 0;
	padding: 0;
}

h2 { 
	font-family: Georgia, serif;
	font-size: 130%; 
	font-weight: normal;
	color: #1a1611;
	margin: 0 0 6px 0;
	padding: 0;
}

h3 {
	color: #554c41;
	font-size: 100%; 
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
}

h3.subheading {
	color:#554c41;
	padding: 0;
	margin: 1.25em 0 -0.5em 0;
}

h4 {
	font-size: 100%; 
	font-weight: bold;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 10px 0;
}

th, td, li, option, select, input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

ul {
	margin: 0 0 1em 0;
	padding: 0 0 0 1em;
}

ul li {
	padding: 0 0 4px 0;
}

/* Major layout blocks */

#container {
	padding: 0.67em;
}

#header {
	margin: 0;
	padding: 0; 
	background: url('../Basic/images/navback.jpg') repeat-x;
	font-size: 22px;
	line-height: 25px;
	height: 44px;
}

.headertext {
	float: none;
	padding-top: 9px;
	color: #fff;
}

.headercrest {
	float: left;
	margin: 0 6px;
}

#header a {
	text-decoration: none;
	float: left;
	color: #444;
}

#footer {
	height: 2em;
	margin: 1.5em 0;
	font-size: 86%;
	line-height: 1.33em;
	color: #554c41;
}

#footer a {
    text-decoration: none;
	color: #554c41;
}

#footer a:hover {
	color: #a00;
}

/* Forms */

form {
	margin: 0.33em 0 0.67em 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input, select, option {
	font-size: 100%;
}

.forminput {
	padding: 3px;
	font-size: 100%;
	width: 90%;
	border: 2px solid #554c41;
}

.imagebutton {
	position: relative;
	top: 0.5em;
}

/* Navigation and results listings */
/* Many smartphones don't correctly interpret "display:block" for inline elements like <a> */

.nav {
	margin: 0.5em 0 1em 0;
	padding: .67em;
	background-color: #fff;
	font-size: 100%;
	line-height: 1.75em;
}

.secondary {
	margin: 1em 0;
	padding: .67em;
	background-color: #f9f6ef;
	line-height: 1.75em;
}

.phonenumber {
	color: #666;
	font-size: 85%;
}

.bottomnav {
	margin: 1em 0;
	padding: .4em 0;
	font-size: 86%;
	color: #999;
}

.bottomnav a {
	color: #666;
	text-decoration: none;
}

.bottomnav a:hover {
	color: #a00;
	text-decoration: underline;
}

.results {
	margin: 1em 0;
	padding: .67em;
	background-color: #fff;
	font-size: 100%;
	line-height: 1.75em;
	margin-bottom: 1em;
}

.nav a, .secondary a, .results a {
	text-decoration: none;
}

.nav a:hover, .secondary a:hover, .results a:hover {
	text-decoration: underline;
}

.announcements {
	font-size: 100%;
	color: #606363;
	padding: 5px;
}

.focal {
	background-color: #fff;
	padding: .67em;
}

.nonfocal {
	padding: .67em;
}

.paging {
	text-align: left;
	margin: 1em 0;
	padding: .4em;
	font-size: 94%;
	line-height: 1.6em;
}

.legend {
	margin-top: 1em;
	font-size: 86%;
	line-height: 1.36em;
	color: #666;
}

.smallprint {
	font-size: 86%;
	font-weight: normal;
	line-height: 1.36em;
	color: #666;
}

.fineprint {
	font-size: 80%;
	line-height: 1.1em;
	color: #666;
}

.clear {
	clear: both;
}

.label {
	display: block;
	float: left;
	width: 4em;
	color: #554c41;
}

.dllabel {
	color: #554c41;
}

.value {
	font-size: 100%;
}

.divider {
	height: 0;
	margin: 0.75em 0;
	border: none;
	border-top: 1px dotted #999;
}

hr {
	display: none;
}

.bb {
	display: none;
}

.image {
	text-align: center;
	padding-bottom: .4em;
}

.hidden {
	visibility: hidden;
}

.maintable {
	width: 100%;
	background-color: #fff;
}

.maintable td, .maintable th {
	padding: .21em .36em;
}

.centered {
	text-align: center
}

.fontsize {
	font-size: 86%;
	color: #666;
}

.fontsize a {
	color: #333;
	text-decoration: none;
	padding: 0 0.25em;
}

.fontsize a:hover {
	color: #a00;
	text-decoration: underline;
}

.fontsmall {
	font-size: 8pt;
}

.fontmedium {
	font-size: 10pt;
}

.fontlarge {
	font-size: 13pt;
}

.fontxlarge {
	font-size: 16pt;
}

/* Iconically coded links - e.g., Shuttle Schedule, 3DOWN, etc. */

a.icon {
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

span.icon {
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-right: 6px;
}

.icon span {
	padding: 3px 0 3px 17px;
	line-height: 1.14em;
}

.gps {
	background-image: url(../Basic/images/gps.gif);
}

.sch {
	background-image: url(../Basic/images/schedule.gif);
}

.ok {
	background-image: url(../Basic/images/ok.gif);
}

.alert {
	background-image: url(../Basic/images/alert.gif);
}

.warning {
	background-image: url(../Basic/images/warning.gif);
}

.critical {
	background-image: url(../Basic/images/critical.gif);
}

.running {
	background-image: url(../Basic/images/shuttle.gif);
}

.action {
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.phone {
	background-image: url(../Webkit/images/action-phone.png);
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.email {
	background-image: url(../Webkit/images/action-email.png);
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.map {
	background-image: url(../Webkit/images/action-map.png);
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.external {
	background-image: url(../Webkit/images/action-external.png);
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.people {
	background-image: url(../Webkit/images/action-people.png);
	padding-left: 24px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
}

.action:hover {
	text-decoration: underline;
}

.dl td {
	padding: 0 8pt 12pt 0;
}

/* Tabs */

.tabs {
	color: #999;
	margin: 1.5em 0 1em 0;
}

.tabs .active {
	font-weight: bold;
	color: #000;
}

.tabs a {
	font-weight: normal;
