@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 20px;
	background: #DCDDDF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color: #333;
}

img {
	border: 0;
}

a, a:visited {
	color: #036;
}

p {
	padding: 0;
	margin: 0 0 15px;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#header {
	height: 304px;
	overflow: hidden;
	background: url(/modules/info/images/phone_images.png) no-repeat 570px bottom;
}

#utility_nav {
	height: 20px;
	text-align: right;
	padding: 9px 30px 0 0;
	font-size: 11px;
	vertical-align: top;
}

#utility_nav a, #utility_nav a:visited {
	color: #444;
	text-decoration: none;
}

#utility_nav a:hover {
	text-decoration: underline;
}

#logo {
  margin-top: -10px;
}

#header h1 {
	padding: 30px 0 0 64px;
	font-size: 36px;
	width: 300px;
	margin: 0;
	line-height: 1;
}

#header p {
	margin:12px 0 0 164px;
	width: 300px;
	font-size: 16px;
	line-height: 1.2;
}

#content {
	min-height: 400px;
	background-color: #fff;
	padding: 35px 40px 25px;
	border: solid 2px #BCBCBC;
}

.leftcol {
	width: 400px;
	float: left;
}

.rightcol {
	width: 410px;
	float: right;
	padding-left: 40px;
	border-left: solid 2px #bcbcbc;
}

#content h2 {
  color: #036;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.2;
	margin: 0 0 10px;
	padding: 0;
}

a#feedback, a#feedback:visited {
  text-decoration: none !important;
  background-color: #003366;
  border-bottom-left-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: white;
  display: inline-block;
	padding: 12px;
	margin-top: 24px;
}
a#feedback:hover {
	background-color: #002244;
}
a#feedback strong {
	font-size: 16px;
}
a#feedback .address {
  text-decoration: underline;
}

table#download {
	font-size: 14px;
}

table#download td {
	padding: 0 12px 12px 0;
}

table#features td {
	vertical-align: top;
	padding: 0 20px 10px 0;
}

table#features td h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.2;
	margin: 0;
}

.clr {
	clear: both;
}

#footer {
	font-size: 11px;
	padding: 5px 0 15px;
	color: #666;
}

#footer a, #footer a:visited {
	color: #666;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

a#preview, a#preview:visited {
  background-color: #003366;
  border-bottom-left-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: white;
  display: inline-block;
  line-height: 18px;
  padding: 11px;
  margin-bottom: 24px;
  text-decoration: none !important;
}

a#preview:hover {
	background-color: #002244;
}