.emergency-notice {
  margin: .4em 0;
  font-size: 82.35%;
  line-height: 1.36em;
}
.emergency-notice .title {
  font-size: 114.29%;
  padding: 0 0 .25em 0;
}
.emergency-notice .pubdate {
  font-size: 90%;
}
.emergency-featured {
  font-size: 100%;
}
.emergency-notice .content a {
  display: inline;
  margin: 0;
  padding: 0;
  background-image: none;
  text-decoration: underline;
  line-height: inherit;
  color: #036;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
