mobi-web/Basic/attribs-*.inc
mobi-web/Webkit/attribs-*.inc
mobi-web/Touch/attribs-*.inc
*~

opt/mitmobile/bin/*mobi-*
opt/mitmobile/mobi-config
opt/mitmobile/mobi-lib
opt/mitmobile/cache
opt/mitmobile/logs/*
mobi-web/.htaccess
mobi-lib/lib_constants.inc
.com.apple.timemachine.supported
