*~
._*
.DS_Store
Thumbs.db

opt/mitmobile/bin/*mobi-*
opt/mitmobile/mobi-config
opt/mitmobile/mobi-lib
opt/mitmobile/cache
opt/mitmobile/cacheNextBus
opt/mitmobile/logs/*
mobi-web/.htaccess
mobi-lib/lib_constants.inc
.com.apple.timemachine.supported
mobi-web/api/newsimages
mobi-web/api/maptile

iPhone-app/Common/Secret.m

iPhone-app/Harvard Mobile.xcodeproj/*.mode1v3
iPhone-app/Harvard Mobile.xcodeproj/*.pbxuser

opt/mitmobile/bin/clear-cache.sh
opt/mitmobile/bin/reload-dining.sh

nbproject/
opt/mitmobile/cacheNextBus/

