#myclasses {
	display: block;
	width: 38px;
	height: 37px;
	overflow: hidden;
	background-image: url(/common/images/bookmark.png);
	background-repeat: no-repeat;
	float: right;
	margin: -5px -5px 5px 5px;
}

#myclasses.ms_off {
	background-position: 0 0;
}

#myclasses.ms_on {
	background-position: 0 -38px;
}
