li.story {
    height: 70pt;
	margin: 0;
    padding: 1px;
    overflow: hidden;
    position: relative;
}
.results li.story a {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 70pt;
}
.results li.story a .ellipsis {
    overflow: hidden;
    margin: 0;
    padding: 3px 25px 3px 0;
    font-size: 82.35%;
    line-height: 1.1em;
    padding-bottom: .25em;
    height: 66pt;
}

.results li.story a .title {
    font-size: 114.29%;
	color: #000;
    padding: 3px 0;
}

.thumbnail {
    float:left;
    padding:0 8px 0 0;
    width: 70pt;
    height: 70pt;
    background: transparent url('/common/images/news-placeholder.png') no-repeat top left;
    background-size: 70pt;
}
form {
	margin: -8px 0 0 0;
	padding: 0;
}
.formlabel {
	width: 62px;
    text-align: right;
	font-size: 89%;
}
.header form {
    display: inline;
    margin: 0;
    padding: 0;
}
.header form input {
    line-height: normal;
}
.header form select {
    line-height: normal;
    padding: 4px 6px;
    font-size: 88.23%;
}
#search-form .toggle-search-button {
}
.header {
    padding: 0;
}

.header button {
    display: inline;
}

.results li.pagerlink {
	padding: 9px;
}

.results li.pagerlink a {
  background-image: none;
  color: #1A1611;
  font-weight: bold;
  font-size: 90%;
}

.newsinput  {
	width: auto;
}

.search-field, select {
}

#category-form {
    padding: .25em .5em;
}
#category-form label {
  padding-right: .25em;
}
#searchformcontainer form {
  margin: 0;
}
