h1.slugline a {
    text-decoration: none;
}

#tabbodies .topnews-tabbody {
	padding: 0;
}

.tabbody .results {
	margin: 0;
}
#tabbodies .tabbody ul.nav {
  background-color: transparent;
}

li.story {
    height: 88px;
	  margin: 0;
    padding: 1px;
    overflow: hidden;
    position: relative;
}

li.story.noimage {
    padding-left: 8px;
}

.results li.story a {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 88px;
}
.results li.story a .ellipsis {
    overflow: hidden;
    margin: 6px 25px 6px 0;
    line-height: 1.2em;
    height: 76px;
}

.results li.story .thumbnail {
    float:left;
    margin: 0 8px 0 0;
    width: 88px;
    height: 88px;
    background: transparent url('/modules/athletics/images/athletics-placeholder.png') no-repeat left top;
    background-size: 5.5em;
}

.results li.story a .author {
    font-size: 90%;
}

.results li.story a .pubdate {
    font-size: 90%;
}

#bookmarkContainer {
	margin: -2px -4px 6px 8px;
}

