h1.slugline a {
    text-decoration: none;
}

li.story {
    height: 5.5em;
	  margin: 0;
    padding: 1px;
    overflow: hidden;
    position: relative;
}

li.noimage {
    padding-left: .4em;
}

.results li.story a {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 5.5em;
}
.results li.story a .ellipsis {
    overflow: hidden;
    margin: 0;
    margin: .4em 25px .4em 0;
    font-size: 82.35%;
    line-height: 1.36em;
    height: 5.9em;
}

.results li.story a .title {
    font-size: 114.29%;
    padding: 0 0 .25em 0;
}

.results li.story a .author {
    font-size: 90%;
}

.results li.story a .pubdate {
    font-size: 90%;
}

.thumbnail {
    float:left;
    margin: 0 8px 0 0;
    width: 5.5em;
    height: 5.5em;
    background: transparent url('/modules/athletics/images/athletics-placeholder.png') no-repeat left top;
    background-size: 5.5em;
}

