/* Redefinition of basic elements */

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #b9c6d6;
	font: 12px/1.33em Helvetica, Arial, sans-serif;
	color: #202629;
}

h1, h2, h3 {
	margin: 0 0 0.5em 0;
	line-height: 1.1em;
	color: #000;
}

h1 {
	font-size: 180%;
	font-weight: normal;
	color: #fff;
}

h2 {
	font-size: 133%;
	font-weight: normal;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

h4 {
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 0.43em 0;
	padding: 0;
	color: #627ba1;
}

a {
	color: #933;
}

a:visited {
	color: #933;
}

a img {
	border: none
}

p {
	margin: 0 0 0.75em 0;
}

table {
	width: 100%;
	margin: 0 0 0.5em 0;
}

td, th {
	padding: 0 2px 2px 0; 
	line-height: 1em;
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
	color: #666;
}

ol, ul {
	margin: 0 0 0.75em 0;
	padding-left: 1.2em;
}

dl {	
	width: 100%;
	padding: 0;
	margin: 0;
}

dt {
	display: block;
	padding: 0;
	margin: 0;
	color: #627ba1;
}

dd {
	display: block;
	padding: 0;
	margin: 0 0 1em 0;
}

/* Major layout blocks */

#container {
	margin: 0;
	padding: 0;
	min-height: 320px;
	clear: both
}

#footer {
	clear: both;
	min-height: 22px;
	margin: 20px 10px 14px 10px;
	font-size: 78%;
	line-height: 1.25em;
	font-weight: normal;
	color: #303639;
}

#footerlinks {
	clear: both;
	margin: 3em 6px 2em 6px; 
	font-size: 86%;
	color: #fff
}

#footerlinks a {
	text-decoration: none;
	color: #123;
	padding: 4px;
}

.leftfoot {
	float: left;
}

.rightfoot {
	float: right;
}

/* Forms */

form {	
	margin: 8px;
	padding: 0;
	border: none;
	position: relative;
	font-size: 100%;
}

fieldset {
	margin: 6px 0;
	padding: 0;
	border: none;
	font-size: 100%;
}

input, textarea, select {
	font-size: 100%;
	color: #223;
	margin: 0
}

textarea {
	padding: 3px;
}

select {
	width: 100%;
	border: 1px solid #6585a9;
	padding: 3px 2px;
}

.forminput {
	border: 2px solid #758ea6;
	margin: 0;
	padding: 3px 2px;
	width: 98%
}

.submitbutton {
	font-size: 100%;
	line-height: 1em;
	padding: 0.2em 0.3em;
	background-color: #6585a9;
	color: #fff;
	border: none;
	margin-left: 2px
}

html>body .submitbutton {
	padding: 0.4em 0.3em;
}

.searchlegend {
	font-size: 86%;
	line-height: 1.2em;
	font-weight: normal;
	color: #404649;
	margin: 0 1px 20px 1px
}

.formbuttons {
	margin: 16px 0 8px 0;
	text-align: center;
}

a.formbutton {
	text-align: center;
	display: inline-block;
	padding-right: 7px;
	background-image: url(../Touch/images/button-sd-r.gif);
	background-repeat: no-repeat;
	background-position: right;
	margin: 0 5px;
	height: 36px;
	overflow: hidden;
}

a.formbutton div {
	/* display: inline-block; */
	color: #fff;
	font-weight: bold;
	font-size: 114%;
	line-height: 26px;
	/* line-height: 1.625em; */
	text-decoration: none;
	padding: 5px 5px 5px 12px;
	background-image: url(../Touch/images/button-sd-l.gif);
	background-repeat: no-repeat;
	background-position: left;
}

.radiobutton {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	margin-left: 0;
	margin-bottom: 8px;
	vertical-align: -12%;
}

.required {
	font-weight: bold;
	color: #900;
}

/* Top navigation/titlebar */

#navbar {
	border-bottom: 1px solid #6f8fae;
	margin: 0 0 10px 0;
	background-color:  #6f8fae;
	font-size: 100%;
	line-height: 1.4em;
	font-weight: bold;
	color: #ffffff;
	height: 2.6em;
	padding: 1px 2px 2px 4px;
	text-overflow:ellipsis;
} 

html>body #navbar {
	height: 2.6em;
	line-height: 2.2em;
}

#navbar a {
	float: left;
	text-decoration: none;
	padding: 2px;
	color: #ffffff;
}

#navbar .separator {
	float: left;
	padding: 3px 0;
}

#navbar span {
	float: left;
	padding: .25em 2px;
}


/* Navigation and results listings */

.nav {	   
	padding: 0;	   
	margin: 8px; 
	font-weight: normal;
	color: #000;
	background-color: #fff; 	
	border-bottom: 1px solid #c3cfd9;
	text-align: left;
}

.nav li {	
	list-style-type: none;	
	border-top: 1px solid #c3cfd9;
	padding: 0;
	position: relative;
}

.nav li:first-child {
	border-top:0; 
}

.nav span.nolink {
	display: block;
	background-repeat: no-repeat;
	background-position: right; 
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
}

.nav a  {
	display: block;
	background-image: url(../Touch/images/action-arrow.gif); 
	background-repeat: no-repeat;
	background-position: right; 
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
	padding: 12px 32px 12px 8px;
}

.nav a:visited {
	color: #000;
}

.nav h2, .nav h3 {
	margin-bottom: 0;
}

.focal .nav {
	margin: 8px 0;
}

.topline {
	border-top: 1px solid #c3cfd9;
}

.tabbody .nav {
	margin: 4px 10px;
	border-bottom: none;
}

.results {	   
	padding: 0;	   
	margin: 8px 0; 
	color: #000;
	background-color: #fff; 	
	text-align: left;
}

.results li {	
	list-style-type: none;		
	border-top: 1px solid #c3cfd9;
	padding: 0;
}

.results li:first-child {
	border-top:0; 
}

.results a  {
	display: block;
	background-image: url(../Touch/images/action-arrow.gif); 
	background-repeat: no-repeat;
	background-position: right; 
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
	padding: 12px 32px 12px 8px;
}

.results a:visited {
	color: #000;
}

.results li ul {
	margin: 0 0 -8px 0;
	padding: 0;
}

.results li ul li {
	list-style-type: none;
	background-image: url(../Touch/images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding: 0 0 0 19px;
	margin: 0 0 8px 0;
	border: none;
}

.secondary {
	margin: 8px; 
	padding: 0;	   
	background-color: #edf1f7;
	font-size: 100%;
	font-weight: normal;
	color: #000;
	text-align: left;
}

.secondary li {
	list-style-type: none;		
	border-top: 1px solid #acb8c2;
	position: relative;
	padding: 0;
}

.secondary li:first-child {
	border-top: none;
}

.secondary a {
	display: block;
	background-image: url(../Touch/images/action-arrow.gif); 
	background-repeat: no-repeat;
	background-position: right; 
	line-height: 1.2em;
	text-decoration: none;
	color: #101619;
	padding: 10px 32px 10px 8px;
}

.secondary a:visited {
	color: #101619;
}


.tertiary {
	margin: 8px; 
	padding: 0;	   
	background-color: #d3dbe6;
	font-size: 93%;
	font-weight: normal;
	color: #000;
	text-align: left;
}

.tertiary li {
	list-style-type: none;		
	border-top: 1px solid #b9c6d6;
	position: relative;
	padding: 0;
}

.tertiary li:first-child {
	border-top: none;
}

.tertiary a {
	display: block;
	background-image: url(../Touch/images/action-arrow.gif); 
	background-repeat: no-repeat;
	background-position: right; 
	line-height: 1.2em;
	text-decoration: none;
	color: #202629;
	padding: 9px 32px 9px 8px;
}

.tertiary a:visited {
	color: #202629;
}

.bottomnav {
	clear: both;
	margin: 32px 10px;
	position: relative;
}

.nav .badge {
	display: inline-block;
	position: relative;
	margin-left: 4px;
	font-size: 90%;
	line-height: 1em;
	color: #fff;
	background-color: #c00;
	padding: 3px 7px 3px 7px;
}

.announcements {	   
	padding: 0;	   
	margin: 13px 0; 
	font-weight: normal;
	background-color: #fff;
	line-height: 1.33em;
	color: #333
}

.announcements li {	
	list-style-type: none;		
	border-bottom: 1px solid #b9c6d6;
	padding: 8px;
	font-size: 100%;
}

.announcements strong {
	color: #000
}

li.nolink {
	padding: 12px 8px;
}

ul.nolinks li {
	padding: 12px 8px;
}

.sidenav {
	margin: 1.2em 8px;
	color: #fff;
}

.sidenav a {
	color: #000;
	padding: 6px 2px;
}

/* Specific content formatting */

.focal {   
	position: relative;
	padding: 8px;	   
	margin: 8px; 
	font-weight:normal;
	line-height: 1.33em;
	color: #222;
	background-color: #fff;
}

.focal .divider {
	margin: 10px -8px;
	height: 3px;
	background-color: #b9c6d6;
}

.nonfocal {
	margin: 12px 8px;
}

.nonfocal form {
	margin: 1em 0;
}

.shaded {
	position: relative;
	padding: 8px 8px 0 8px;	   
	margin: 8px 8px 0 8px; 
	font-weight:normal;
	line-height: 1.33em;
	color: #222;
	background-color: #edf1f7;
}

.legend {
	font-size: 86%;
	line-height: 1.21em;
	color: #303639;
}

.legend.nonfocal {
	margin: 0 0 24px 0;
	padding: 0 8px;
	color: #202629;
}

.legend div {
	display: inline;
	margin-right: 0px;
	padding: 1px 0;
}

.legend h2, .legend h3 {
	color: #4a4f54;
}

.smallprint {
	font-size: 90%;
	line-height: 1.21em;
	font-weight: normal;
	color: #404649;
}

.fineprint {
	font-size: 80%;
	line-height: 1.17em;
	font-weight: normal;
	color: #505659;
}

.label {	
	font-size: 100%;
	padding-right: 0.33em;
	line-height: 1.2em;
	text-align: left;
	color: #627ba1;
}

.value {
	font-size: 100%;
	line-height: 1.2em;
	text-align: left;
}

.value a {
	background-position: right;
}

.more {
	color: #933;
}

.badnews {
	color: #a33;
	font-weight: bold;
}

.tight {
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
	height: 0;
}

.invisible {
	display: none;
}

.collapsed .summary {
	display: inline;
}

.collapsed .fulltext {
	display: none;
}

.expanded .summary {
	display: none;
}

.expanded .fulltext {
	display: inline;
}

.foundat {
	font-size: 100%;
	line-height: 1.21em;
	font-weight: normal;
	color: #404649;
}

p.foundat {
	margin: 0 0 4px 0;
}

.address {
	font-size: 100%;
	line-height: 1.21em;
	font-weight: normal;
	color: #404649;
}

.nowrap {
	white-space: nowrap;
}

.centered {
	text-align: center
}

/* Action links (dial phone, launch map, compose email, etc.) */

.actionlink {
	background-repeat: no-repeat;
	background-position: right; 
}

a.arrow {  
	background-image: url(../Touch/images/action-arrow.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.phone {  
	background-image: url(../Touch/images/action-phone.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.email {  
	background-image: url(../Touch/images/action-email.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.map {  
	background-image: url(../Touch/images/action-map.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.search {  
	background-image: url(../Touch/images/action-search.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.people {  
	background-image: url(../Touch/images/action-people.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.external {  
	background-image: url(../Touch/images/action-external.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.secure {  
	background-image: url(../Touch/images/action-secure.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.pdf {  
	background-image: url(../Touch/images/action-pdf.gif); 
	background-repeat: no-repeat;
	background-position: right; 
}

a.noaction {
	background-image: none;
}

/* Iconically coded links - e.g., Shuttle Schedule, 3DOWN, etc. */

.icon {
	background-repeat: no-repeat;
	background-position: 8px 12px;
	padding: 8px 10px;
}

.icon a {
	padding-left: 32px;
}

h2.icon {
	background-position: right;
	padding-right: 24px;
}

.inset {
	padding-left: 32px;
	padding-top: 3px;
	margin-left: -7px;
}

.gps {
	background-image: url(../Touch/images/gps.gif);
}

.sch {
	background-image: url(../Touch/images/schedule.gif);
}

.ok {
	background-image: url(../Touch/images/ok.gif);
}

.alert {
	background-image: url(../Touch/images/alert.gif);
}

.warning {
	background-image: url(../Touch/images/warning.gif);
}

.critical {
	background-image: url(../Touch/images/critical.gif);
}

.available {
	background-image: url(../Touch/images/available.gif);
}

.full {
	background-image: url(../Touch/images/donotenter.gif);
}

.running {
	background-image: url(../Touch/images/shuttle.gif);
	background-position: 7px 12px;
}

.nonrunning {
	background-image: url(../Touch/images/shuttle-off.gif);
	background-position: 7px 12px;
}

.running a {
	padding-left: 28px;
}

.nonrunning a {
	padding-left: 28px;
}

#schedule {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1em 0;
}

#schedule td {
	border-top: 1px solid #ddd;
	padding: 4px 6px 5px 2px; 
	line-height: 1em;
	vertical-align: top;
}

#schedule .current td {
	background-color: #b00;
	color: #fff;
}

#schedule .sid {
	width: 1.33em;
	text-align: center;
	color: #888;
}

#schedule .current .sid {
	color: #fff;
	display: none;
}

.alertbox {
	margin: 12px;
	padding: 0;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	color: #000;
}

.zoomlinks {
	margin: .5em .6em 0;
	line-height: 2em
}

.zoomlinks a {
	padding: .5em
}



/* Tabs (e.g., Shuttle Schedule route pages) */

#tabs {
	font-size: 100%;
	line-height: 17px;
	margin: 1.5em 0 0 0;
	height: 26px;
}

#tabs a {
	line-height: 17px;
	height: 28px;
	padding: 8px .4em 10px .4em;
	text-decoration: none;
	color: #445;
	border: 1px solid #b9c6d6;
	background-color: #cfd7e3
}

#tabs a.active {
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
}

.tabbody {	
	position: relative;
	top: -2px;
	margin: 0 8px 8px 8px;
	padding: 8px;
	background-color: #fff;
	border-top: 1px solid #b9c6d6;
}

.tabbody.nopad {
	padding: 0
}

.tabbody .results {
	margin-top: none;
	border-top: none;
}

.tabbody .results li {
	border-top: none;
	border-bottom: 1px solid #acb8c2;
}

.tabbody .results h3 {
	margin: 0
}

/* Preferences */

#homepageList td, th {
	vertical-align: middle
}

#homepageList a img { 
	width: 30px; height: 30px; padding: 0.3em;
}