table, th, td, p, ol, ul {	
	font-size: 15px;
}
table, ul, ol {
	margin-bottom: 0;
}
td {
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: center;
	position: relative;
}
table.columns {
	padding-top: 5px;
}
table.columns td {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 11px;
}
table.week td {
	width: 14%;
	padding-right: 2px;
}
table.tenday td {
	width: 10%;
	padding-right: 2px;
}
table.month td {
	width: 3%;
	padding-right: 1px;
}
table.monthweek td {
	width: 25%;
	padding-right: 1px;
}
table.twelve td {
	width: 7%;
	padding-right: 1px;
}
table.threemonths td {
	width: 1%;
	padding: 0;
}
.datarow {
	height: 18px;
	width: 100px;
	background-color: #eee;
	-webkit-border-radius: 3px;	
	margin: 0 2px 4px 2px;
}
.rowbar {
	height: 18px;
	width: 0;
	background-position: top left;
	border: none;
	-webkit-border-radius: 2px;	
}
.datacol {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #eee;
	-webkit-border-radius: 3px;	
}
.colbar {
	position: absolute;
	z-index: 10;
	opacity: 1;
	bottom: 0;
	width: 100%;
	height: 0;
	background-position: bottom left;
	border: none;
	-webkit-border-radius: 2px;	
}
.average {
	position: absolute;
	height: 30px;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #333;
	opacity: 0.3
}
.collabel {
	margin-top: -13px;
	font-size: 10px;
	width: 120%;
	margin-left: -10%;
	color: #000;
}
.multilabel {
	border-left: 1px solid #ccc;
	font-size: 12px;
	text-align: left!important;
	padding-left: 4px!important;
}
.focal ul {
	padding-left: 0;
}
.focal ol {
	padding-left: 1.5em;
}
.yaxis {
	font-size: 10px;
	line-height: 10px;
	position: relative;
	position: relative;
	height: 100px;
}
.max {
	position: absolute;
	top: 0;
	margin-top: -5px;
}
.min {
	position: absolute;
	bottom: 0;
	margin-bottom: -5px;
}
