/* used in detail page and index when swapping to list view with search query */
#tabscontainer {
    position: relative;
    padding: 0 12px;
}

.results a.placemark {
    background-image: url(/modules/map/images/map-button-map.png);
}

/* used in map view - custom controls overlaying google maps, detail - controls below map image */
#mapcontrols a {
    width: 40px;
    height: 34px;
    display: block;
    background-image: url(/modules/map/images/buttons.png);
}

#mapcontrols a img {
    width: 40px;
    height: 34px;
}

#zoomin {
    background-position: 0 0;
}

#zoomout {
    background-position: -40px 0;
}

#recenter {
    background-position: -120px 0;
}

#locateMe {
    background-position: -160px 0;
}

/*** expanding search bar ***/

#header {
    height: 44px;
    margin: 0;
    padding: 0;
}

/* empty div behind the #header to align the top of the #mapimage */
#spacer {
    height: 44px;
}

#searchbar {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

#searchbar fieldset {
    margin: 0;
}

#header.single-campus {
    height: 80px;
}

#header.multi-campus {
    height: 112px;
}

#header .searchwrapper {
    left: 6px;
    right: 100px;
    position: absolute;
}

#header.expanded .searchwrapper {
    left: 6px;
    right: 20px;
}

#search-form {
    margin: 0;
    width: 100%;
}

#search-form input[type="text"] {
    border-radius: 8px;
    width: 100%;
    line-height: 1em;
    height: 18px;
    padding: 5px 4px 6px 7px;
}

/* toolbar: browse/bookmark buttons to the right of the search field */
#header.expanded #toolbar-buttons {
    display: none;
}

.toolbar-button {
    width: 36px;
    height: 32px;
    float: right;
    margin: 0 4px 0 0;
    background-image: url(/modules/map/images/button-background.png);
}

.toolbar-button a {
    margin: 2px;
}

.toolbar-button a img {
    margin: 4px;
}

/* campus-select: the drop-down menu in multi-campus case */
#campus-select {
    height: 33px;
}

#campus-select td {
    padding: 4px 0 5px;
}

#campus-select .formlabel {
    width: 82px;
    vertical-align: middle;
}

/* search-options: search/clear/cancel buttons below the search bar */
#search-options {
    display: none;
    left: 0;
    padding: 0 5px 8px;
    position: absolute;
    right: 0;
    top: 33px;
}

#header.expanded #search-options {
    display: block;
}

#search-options input {
   margin: 7px 5px 0 0;
   padding: 0;
   height: 30px;
   border-radius: 5px;
   width: 100%;
}


#searchbar-buttons {
    clear: both;
}

#searchbar-buttons div {
    width: 33.33%;
    float: left;
}

/*** fullscreen map styles ***/

body.fullscreen #mapimage.image {
    min-height: none;
    width: 100%;
    border: none;
    display: block !important;
    overflow: hidden;
}

/* don't want map to resize when this shows */
body.fullscreen #header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

body.fullscreen #tabscontainer {
    padding: 6px 12px;
}

#calloutWrapper {
    width: 210px;
}

#bookmarkWrapper {
    margin: 6px 0;
}

.calloutMain {
    max-width: 110px;
    margin: 6px 8px;
}

.calloutDisclosure {
    margin: 6px 0;
}

/* ESRI maps have wider callouts */
.simpleInfoWindow #calloutWrapper {
    width: 230px;
}

.simpleInfoWindow .calloutMain {
    max-width: 130px;
}

#mapimage .simpleInfoWindow .title {
    border: none;
    padding: 0;
}

#mapimage .simpleInfoWindow {
    max-height: 80px;
}

/* buttons */
.nonfocal .buttonContainer {
    float: right;
    margin: -5px 0 0;
}

.buttonContainer {
   height: 39px;
}

.buttonContainer a {
    text-decoration: none;
}

.buttonContainer div {
   border-radius: 8px;
   padding: 2px;
   border: 1px solid #999;
}
