
#tabscontainer {
    position: relative;
    padding: 0 12px;
}

/* styles formerly in #mapwrapper. "image" class is removed for non-static maps */
body.landscape #mapimage.image, body.portrait #mapimage.image {
    min-height: none;
    width: 100%;
    border: none;
    display: block !important;
    overflow: hidden;
}

/*
#mapimage {
    border: 1px solid #999;
    margin: -1px;
    overflow: hidden;
}
*/

#mapcontrols {
}

#mapcontrols a {
    width: 40px;
    height: 34px;
    display: block;
    background-image: url(/modules/map/images/buttons.png);
}

#mapcontrols a img {
    width: 40px;
    height: 34px;
}

#zoomin {
    background-position: 0 0;
}

#zoomout {
    background-position: -40px 0;
}

#recenter {
    background-position: -120px 0;
}

#locateMe {
    background-position: -160px 0;
}

/* this doesn't seem to exist in the DOM */
/*
#viewoptions {
	background-position: -160px 0;
}

#fullscreen {
    top: 0;
    bottom: auto;
    right: 7%;
    margin: 0 -19px 0 0;
    background-position: -80px 0;
}
*/
#mapscrollers {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

#mapscrollers div {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    z-index: 10;
    background-image: url(/modules/map/images/scrollers.png);
    background-repeat: no-repeat;
}

#nw {
    top: 0;
    left: 0;
    background-position: -350px 0px;
}

#n {
    top: 0;
    left: 50%;
    margin-left: -25px;
    background-position: 0px 0px;
}

#ne {
    top: 0;
    right: 0;
    background-position: -200px 0px;
}

#e {
    top: 50%;
    margin-top: -25px;
    right: 0;
    background-position: -50px 0px;
}

#se {
    bottom: 0;
    right: 0;
    background-position: -250px 0px;
}

#s {
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background-position: -100px 0px;
}

#sw {
    bottom: 0;
    left: 0;
    background-position: -300px 0px;
}

#w {
    top: 50%;
    margin-top: -25px;
    left: 0;
    background-position: -150px 0px;
}

/* remove default margin between navbar and content */
#navbar {
    margin: 0;
}

/* shorter min-height than default to prevent scrolling on short devices*/
#container {
    min-height: 200px;
}

#header {
    height: 44px;
    padding: 5px;
    background-color: #369;
}

#searchbar {
    float: left;
}

#search-form {
    margin: 10px;
}

.searchBarButton {
    width: 36px;
    height: 32px;
    float: right;
    margin-right: 5px;
    background-image: url(/modules/map/images/button-background.png);
}

.searchBarButton a {
    margin: 2px;
}

