h2 {
	margin-bottom: 4px;
}

#photo {
}

#phototab {
	text-align: center;
}

#phototab img {
	margin-bottom: 8px
}

#mapTab {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

#mapwrapper {
  display: inline-block;
	width: 294px;
	height: 347px;
	position: relative;
	overflow: hidden;
}

.fullmap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.tabbody #staticmapimage {
    width: 292px;
    height: 292px;
    border: 1px solid #999;
    background-color: #fff;
}

#mapscrollers {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}

.tabbody #mapscrollers {
	height: 294px;
}

#mapscrollers div {
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 0;
	z-index: 10;
	background-image: url(/modules/map/images/scrollers.png);
	background-repeat: no-repeat;
}

#nw {
	top: 0;
	left: 0;
	background-position: -350px 0px;
}

#n {
	top: 0;
	left: 50%;
	margin-left: -25px;
	background-position: 0px 0px;
}

#ne {
	top: 0;
	right: 0;
	background-position: -200px 0px;
}

#e {
	top: 50%;
	margin-top: -25px;
	right: 0;
	background-position: -50px 0px;
}

#se {
	bottom: 0;
	right: 0;
	background-position: -250px 0px;
}

#s {
	bottom: 0;
	left: 50%;
	margin-left: -25px;
	background-position: -100px 0px;
}

#sw {
	bottom: 0;
	left: 0;
	background-position: -300px 0px;
}

#w {
	top: 50%;
	margin-top: -25px;
	left: 0;
	background-position: -150px 0px;
}

#mapzoom {
	position: relative;
	height: 34px;
	margin: 7px 5px;
}

#mapzoom a {
	display: block;
	position: absolute;
	width: 40px;
	height: 34px;
	background-image: url(/modules/map/images/buttons.png);
	background-repeat: no-repeat;
}

#zoomin {
	top: 0;
	left: 7%;
	margin: 0 0 0 -19px;
	background-position: 0 0;
}

#zoomout {
	top: 0;
	left: 25%;
	margin: 0 0 0 -16px;
	background-position: -40px 0;
}

#recenter {
	top: 0;
	left: 58%;
	margin: 0 0 0 -19px;
	background-position: -120px 0;
}

#fullscreen {
	top: 0;
	bottom: auto;
	right: 7%;
	margin: 0 -19px 0 0;
	background-position: -80px 0;
}

/* copying the fullscreen style for now */
#smallscreen {
	top: 0;
	bottom: auto;
	right: 7%;
	margin: 0 -19px 0 0;
	background-position: -80px 0;
}

#viewoptions {
	background-position: -160px 0;
}

#loadingimage,
#loadingimage2 {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	opacity: 0.75;
}

#options {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

#scrim {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #333;
	opacity: 0.5;
}

#mapform {
	position: absolute;
	z-index: 20000;
	top: 9px;
	bottom: 9px;
	left: 9px;
	right: 9px;
	padding: 15px;
	margin: 0;
	background-color: #333;
	color: #fff;
	-webkit-border-radius: 12px;
	opacity: 0.85
}

#options h2 {
	color: #fff;
	margin-bottom: 12px;
}

#options h3 {
	color: #fff;
	margin-bottom: 12px;
}

#options form p {
	margin-bottom: 0.5em;
}

#options th {
	color: #bbb;
	padding: 0 7px 6px 0;
	text-align: center;
	font-size: 16px;
	line-height: 1em;
}

#options th:first-child {
	text-align: left;
}

#options th.lastcol {
	padding-right: 0;
}

#options td {
	color: #fff;
	padding: 5px 0;
	text-align: center;
	font-size: 16px;
	line-height: 1em;
}

#options td:first-child {
	text-align: left;
}

#options input, #options button {
	font-size: 15px;
}

#options .check {
	width: 23px;
	height: 23px;
}

#heretab ul {
	margin-left: 0;
	padding-left: 0;
}

#heretab ul li {
	list-style-type: none;
	background-image: url(/common/images/bullet.png)!important;
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 19px;
	margin: 0 0 0 -4px;
}
