body.landscape #mapimage.image, body.portrait #mapimage.image {
    min-height: none;
    width: 100%;
    border: none;
    display: block !important;
    overflow: hidden;
}

/* remove default margin between navbar and content */
#navbar {
    margin: 0;
}

/* shorter min-height than default to prevent scrolling on short devices*/
#container {
    min-height: 200px;
}

#header {
    height: 48px;
    margin: 0;
    padding: 0;
    background-color: #369;
}

#searchbar {
    margin: 0;
    padding: 0;
    float: left;
}

#header.expanded {
    height: 92px;
}

#searchbar.expanded {
    width: 99%;
}

#search-form {
    margin: 4px;
}

#search-form input[type="text"] {
    width: 100%;
    height: 30px;
}

#searchFormButtons {
    display: none;
    margin: 4px 0 0 0;
    padding: 0;
}

#searchFormButtons input {
   margin: 4px;
   height: 30px;
   border-radius: 5px;
   float: left;
   width: 32%;
   background-image: linear-gradient(bottom, rgb(171,171,171) 21%, rgb(219,219,219) 69%);
   background-image: -o-linear-gradient(bottom, rgb(171,171,171) 21%, rgb(219,219,219) 69%);
   background-image: -moz-linear-gradient(bottom, rgb(171,171,171) 21%, rgb(219,219,219) 69%);
   background-image: -webkit-linear-gradient(bottom, rgb(171,171,171) 21%, rgb(219,219,219) 69%);
   background-image: -ms-linear-gradient(bottom, rgb(171,171,171) 21%, rgb(219,219,219) 69%);
}

.searchBarButton {
    width: 36px;
    height: 32px;
    float: right;
    margin: 7px 6px 0 0;
    background-image: url(/modules/map/images/button-background.png);
}

.searchBarButton a {
    margin: 2px;
}

.calloutMain {
    margin: 2px;
}

.calloutDisclosure {
    margin: 2px;
}


