#search-form .toggle-search-button {
	font-size: 90%;
	background: #036;
	border-color: #036;
	color: white;
	font-weight: bold;
}

.results .videoSelected {
    background: #002558 url(/common/images/selected.png) repeat-x top left;
    color: white;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}


.results li.video a.videoSelected .ellipsis {
    color: #999;
}

.results li.video a.videoSelected .title {
    color: #ddd;
}

#videoDetail h1 {
    color: black;
}

.slugline {
    font: 22px/26px Georgia, serif;
    color:#1a1611;
}

.byline {
    font-size: 11px;
    line-height: 14px;
    border-bottom: 1px dotted #999;
}


