.results li.video {
    height: 5.1em;
	margin: 0;
    padding: 1px;
    overflow: hidden;
	border-color: #666;
}
li.noimage {
    padding-left: .4em;
}
.results li.video a {
   	overflow: hidden;
    margin: 0;
    padding: .4em 25px .4em 0;
    height: 4.4em;
	border-radius: 0;
	line-height: 1.15em;
}
.results li.video a .ellipsis {
    overflow: hidden;
    margin: 0;
    padding: .4em 25px .4em 0;
    font-size: 82.35%;
    line-height: 1.3em;
    height: 5.2em;
}
.thumbnail {
    float:left;
    margin:-0.4em 0.5em -0.4em 0;
    width: 6.4em;
    height: 5.2em;
    background: transparent url('/modules/video/images/video-placeholder.png') no-repeat top left;
    background-size: 5.2em;
}

.video {
	margin: -9px 0;
	padding: 10px;
	background-color: #fff;
}

.videoplayer {
	margin: 1em 0;
}

.videobuttons {
	float: right;
	margin: 0 0 0.6em 0.5em;
}

.videobuttons #share, .videobuttons #bookmarkContainer {
	float: right;
	margin: 0 0 0 0.5em;
}