body.VideoModule, .video {
	/* Background color for video listing and detail; should be white in most cases */
  background-color: @@@focal_background_color@@@;
}

.video {
    padding: 10px;
}

.byline {
    min-height:40px;
	margin-top: -6px;
	padding-bottom: 0.33em;
	margin-bottom: 1.33em;
    border-bottom: 1px dotted #999;
}
