body.VideoModule #navbar, .video {
	/* Background color for video listing and detail; should be white in most cases */
    background-color: #fff;
}

.video {
    margin-top: -9px;
    padding: 10px;
}

.slugline {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.byline {
  min-height:40px;
	padding-bottom: 0.33em;
	margin-bottom: 1.33em;
  border-bottom: 1px dotted #999;
}

#storysubhead {
  display: block;
}
