table#videoHeader fieldset {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
}

table#videoHeader tr td {
  padding: 1em .5em 0 0;
  height: 40px;
  line-height: 40px;
}

table#videoHeader tr #categoryformcontainer {
  width: 19em;
  padding-left: .5em;
}

table#videoHeader #categoryformcontainer label {
  padding-right: .5em;
  font-size: 89%;
}
table#videoHeader #categoryformcontainer select {
  width: auto;
  min-width: 250px;
}

table#videoHeader tr #searchformcontainer form,
table#videoHeader #searchformcontainer fieldset {
  height: 40px;
  width: 100%;
  position: relative;
}
table#videoHeader #searchformcontainer fieldset .forminput {
  position: absolute;
  top: 0;
  right: 0;
  width: 96%;
}
table#videoHeader #categoryformcontainer + #searchformcontainer fieldset .forminput {
  width: 92%;
}

table#videoHeader #bookmarkscontainer {
  width: 44px;
  padding: 0 .5em 0 0;
  vertical-align: middle;
}
#bookmarkscontainer #bookmarkslink div {
  width: 44px;
  height: 38px;
  background: url(/common/images/bookmark.png) no-repeat -44px -38px;
}

form {
	margin: 0;
	padding: 0;
}

table form {
    margin-top: -8px;
}

.formlabel {
	width: 62px;
    text-align: right;
	font-size: 89%;
}
.header form {
    display: inline;
    margin: 0;
    padding: 0;
}
.header form input {
    line-height: normal;
}
.header form select {
    line-height: normal;
    padding: 4px 6px;
    font-size: 88.23%;
}

.header {
    padding: 10px 0 2px 0;
}

.header button {
    display: inline;
}


#footer {
    display:none;
}
