.springboard a {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 4px;
}

#sharedialog {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#d0d0d0)); /* Webkit browsers */
}

#container {
	min-height: 372px;
}

