/* since there is no nav bar, make sure these have layout or 
 * elements will jump around when the dom changes */
#nonfooternav, #container {
    overflow: hidden;
}
body {
	min-height: 480px;
}
#container {
  min-height: 435px;
}
