.springboard a {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 4px;
}

#sharedialog {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#d0d0d0)); /* Webkit browsers */
}

#container {
	min-height: 372px;
}

/* Login-related buttons */
/* Pixel-doubled versions to take advantage of Retina Displays */

.loginbuttons li.facebook {
	background-image: url(/common/images/button-facebook.png);
}

.loginbuttons li.google {
	background-image: url(/common/images/button-google.png);
}

.loginbuttons li.oauth {
	background-image: url(/common/images/button-oauth.png);
}

.loginbuttons li.openid {
	background-image: url(/common/images/button-openid.png);
}

.loginbuttons li.twitter {
	background-image: url(/common/images/button-twitter.png);
}

.loginbuttons li.windows {
	background-image: url(/common/images/button-windows.png);
}

/* Pixel-doubled action arrows */

.nav a, .results a, .secondary a, a.arrow {  
	background-image: url(/common/images/action-arrow@2x.png); 
	background-size: 14px 17px;
}

a.phone {  
	background-image: url(/common/images/action-phone@2x.png); 
	background-size: 26px 19px;
}

a.email {  
	background-image: url(/common/images/action-email@2x.png); 
	background-size: 26px 19px;
}

a.map {  
	background-image: url(/common/images/action-map@2x.png); 
	background-size: 26px 19px;
}

a.people {  
	background-image: url(/common/images/action-people@2x.png); 
	background-size: 19px 19px;
}

a.external {
	background-image: url(/common/images/action-external.png); 
	background-size: 26px 19px;
}
