#timestamp {
	display: block;
	line-height: 1.33em;
	margin-top: 8px;
}

.tabbody {
	min-height: 260px;
}

#schedule {
  margin: 0px -12px;
}

#schedule li.icon {
  min-height: 0;
}

#schedule li.icon a {
  padding: 13px 25px 13px 25px;
  line-height: 1.2em;
}
#schedule li.icon img {
  width: 18px;
  height: 19px;
  top: 14px;
}

.sid {
	display: inline-block;
	width: 18px;
	text-align: center;
	color: #999;
}

.current .sid {
	color: #fff;
	display: none;
}

#map, #maptab {
	text-align: center;
}

.stop-map {
    border: 2pt solid white;
}

.logoContainer {
  position: relative;
}
#servicelogo {
  display: inline-block;
  position: absolute;
  bottom: -12px;
  right: -5px;
}
#refresh {
  float: right;
	margin-top: -4px;
	margin-right: -4px;
	font-size: 14px;
}

.timestamp {
	position: absolute;
	right: 10px;
	top: 14px;
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #506d8e;
}




/* Tall (portrait) orientation */

body.portrait {
	width: 100%;
}

body.portrait #timestamp {
	display: block;
}

body.portrait #tabs {
	display: block;
}

body.portrait .tabbody {
	font-size: 17px;
}

body.portrait #scheduletab, #maptab {
	width: auto;
}

body.portrait #mapimage {
	width: 270px;
	height: 270px;
	text-align: center;
}

body.portrait #rotatemsg1 {
	display: inline;
}

body.portrait #rotatemsg2 {
	display: none;
}



/* Wide (landscape) orientation */

body.landscape {
	width: 100%;
}

body.landscape #timestamp {
	display: inline;
}

body.landscape #schedule {
	border-bottom: 1px solid #f0f0f0;
	margin: 0 0 16px 0;
}

body.landscape #tabs {
	display: none;
}

body.landscape .tabbody {
	display: block !important;
	float: left;
	font-size: 14px;
}

body.landscape #scheduletab {
	width: 47%;
}

body.landscape #maptab {
	width: 53%;
}

body.landscape #map {
	width: 225px;
	height: 225px;
	text-align: right;
}

body.landscape #mapimage {
	width: 225px;
	height: 225px;
	margin-left: 0;
}

body.landscape #rotatemsg1 {
	display: none;
}

body.landscape #rotatemsg2 {
	display: inline;
}

.ampm {
	font-size: 75%;
	padding-left: 0.2em
}
