#homelogo {
	font-size: 200%;
	line-height: 1em;
	margin: 18px auto -4px auto;
	text-align: center;
	width: 100%;
	padding: 0;
}
h1.roomfornew {
	text-align: left;
}
#new {
	position: absolute;
	top: -13px;
	right: -9px;
	width: 80px;
	height: 80px;
	background-image: url(/modules/home/images/newbig.png);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 70.59%;
	line-height: 1.1em;
	text-align: center;
	overflow: hidden;
}
#new a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 19px;
	right: 10px;
}
#new a .newlabel {
	display: block;
	font-size: 52.94%;
	line-height: 1em;
	color: #ffcece;
}
#footer {
	text-align: center;
	clear: both;
}
form {
	margin: 0 0 -7px 0;
}

#download {
	text-align: left;
	clear: both;
	padding: 10px 10px 10px 10px;
	font-size: 76.47%;
}

#download a {
	color: #333;
	text-decoration: none;
}

#download a:hover {
	color: #a00;
}

#download img {
    width: 32px;
    height: 26px;
}
.banner-notice {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  padding: .25em .5em;
}
a.banner-notice {
  display: block;
  padding: .25em 25px .25em .5em;
	background-image: url(/common/images/action-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 1.2em;
	text-decoration: none;
}
