#homelogo {
  margin-bottom: 14px;
}

h1 {
	margin: 0;
	padding: 17px 0 11px 0;
	text-align: center;
}
#new {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	background-image: url(/modules/home/images/newbig.jpg);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	overflow: hidden;
}
#new a {
	display: block;
	width: 56px;
	height: 50px;
	padding: 0;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 18px;
	right: 7px;
}
#new a .newlabel {
	display: block;
	font-size: 9px;
	line-height: 11px;
	color: #ffcece;
}
.forminput {
	position: relative;
	font-size: 100%;
	width: 100%;
	height: 1.4em;
	padding: 2px;
	border: 2px solid #554c41;
}
#homegrid {
	margin-top: 24px;
}
#download {
	text-align: left;
	clear: both;
	padding: 40px 10px 20px 10px;
	font-size: 76.47%;
}
#download a {
	color: #333;
	text-decoration: none;
}
#download a:hover {
	color: #a00;
}
#footer {
	text-align: center;
	clear: both;
}
