.intro {
	margin-bottom: 0;
	text-align: center;
}
h1 {
	font-size: 211.7%;
	line-height: 1em;
	margin: 16px 12px -6px 12px;
	color: #112;
	text-align: center;
}
h1.roomfornew {
	text-align: left;
}
#new {
	position: absolute;
	top: -13px;
	right: -9px;
	width: 80px;
	height: 80px;
	background-image: url(/modules/home/images/newbig.png);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 70.59%;
	line-height: 1.1em;
	text-align: center;
	overflow: hidden;
}
#new a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 19px;
	right: 10px;
}
#new a .newlabel {
	display: block;
	font-size: 52.94%;
	line-height: 1em;
	color: #ffcece;
}
#beta {
	position: absolute;
	top: 0;
	right: 0;
}
#footer {
	text-align: center;
	clear: both;
}
form {
	margin: 0 0 -0.5em 0;
}
.banner-notice {
  background-image: url('/common/images/alert.gif');
  background-position: 5px center;
  border: solid 1px #ccc;
}
.banner-notice .banner-message, .banner-notice a.banner-message { 
  background-image: url('/common/images/action-arrow.gif');
  padding: 8px 8px 8px 36px;
}

