li.story {
    height: 70pt;
    padding: 1px;
    padding-right: 10px;
}

.thumbnail {
    float:left;
    padding:0px;
    padding-right: 7px;
    width: 70pt;
    height: 70pt;
}

.header form {
    display: inline-block;
}

.header {
    padding: 5px;
}

.header button {
    display: inline;
}
.non-story a {
    background-image: none;
}

.newsinput  {
	font-size: 89%;
	width: 200px;
}

#search-form {
    display: inline;
}

.search-field, select {
}

select, .submit-search {
    font-size: 16px;
}

form {
	margin: -8px 0 0 0;
	padding: 0;
}

.formlabel {
	display: block;
	float: left;
	padding-right: 2px;
	width: 60px;
	color: #554c41;
	font-size: 89%;
	line-height: 2em;
}