		body {
			background-color: #ded8c9;
			background: url(../Webkit/images/background-tile.jpg) top right repeat-x, url(../Webkit/images/background-tile-2.jpg) bottom left repeat;
		}
		#homegrid {
			margin: 0 auto;
			padding: 0 4px;
			margin-left: 2px;
			clear: both;
		}
		#homegrid div {
			position: relative;
			width: 77px;
			height: 100px;
			margin: 0;
			padding: 0;
			border: 0;
			float: left;
			font-size: 13px;
			line-height: 14px;
			text-align: center;		
			vertical-align: top;
		}
		#homegrid a {
			display: block;
			color: #333;
			text-decoration: none;
			-webkit-border-radius: 5px;
			padding: 8px 4px;
		}
		#homegrid a img {
			width: 70px;
			height: 70px;
		}
		.intro {
			margin-bottom: 0;
			text-align: center;
		}
		.fineprint {
			font-size: 10px;
			color: #505659;
		}
		h1 {
			font-size: 36px;
			line-height: 36px;
			margin: 16px 12px -6px 12px;
			color: #112;
			text-align: center;
		}
		h1.roomfornew {
			text-align: left;
		}
		#logo {
			padding-right: 14px;
		}
		#new {
			position: absolute;
			top: -13px;
			right: -9px;
			width: 80px;
			height: 80px;
			background-image: url("Webkit/images/newbig.png");
			background-repeat: no-repeat;
			color: #fff;
			font-size: 12px;
			line-height: 13px;
			text-align: center;
			overflow: hidden;
		}
		#new a {
			display: block;
			width: 50px;
			height: 50px;
			padding: 0;
			text-decoration: none;
			color: #fff;
			position: absolute;
			top: 19px;
			right: 10px;
		}
		#new a .newlabel {
			display: block;
			font-size: 9px;
			line-height: 9px;
			color: #ffcece;
		}
		#beta {
			position: absolute;
			top: 0;
			right: 0;
		}
		#footer {
			margin-top: 0;
			padding-top: 16px;
			text-align: center;
			clear: both;
		}
        #footer .copyright {
            text-decoration: none;
            color: #554C41;
        }
		#viewfull {
			text-align: center;
			margin: 14px 0;
			font-size: 13px;
		}
		.badge {
			position: absolute;
			right: 12px;
			top: 5px;
			width: 24px;
			height: 24px;
			padding-top: 5px;
			text-align: center;
			color: #fff;
			font-size:12px;
			font-weight: bold;
			background-image: url(Webkit/images/badge.png);
			background-repeat: no-repeat;
		}
		form {
			margin: 0 0 -10px 0;
		}
		#homegrid div.separator {
			display: block;
			width: 100%;
			height: 10px;
			clear:both;
			margin: 0;
			padding: 0;
			float: none;
		}
		#homegrid div.utility {
			width: 76px;
			height: 90px;
			font-size: 12px;
		}
		#homegrid div.utility a img {
			width: 44px;
			height: 44px;
		}