/* Nav bar at top of all screens other than home screen */

#navbar {
	height: 50px;
	font-size: 105.9%;
	font-weight: bold;
}

#navbar .forminput {
  border-color: #036;
}



/* Tablet-specific bottom nav bar */

#footernav {
  background: transparent url(/common/images/footernav-bg.png) repeat-x top left;
  /*-webkit-box-shadow: 0px -4px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -4px 10px rgba(0,0,0,0.3);
  box-shadow: 0px -4px 10px rgba(0,0,0,0.3);*/
}

#footernav .module {
  background: transparent url(/common/images/footernav-spacer.png) no-repeat top left;
}

#footernav a {
  /* Text color of module icon labels */
  color: white;
}

#footernav .selected a {
  /* Background and label text color of selected module icon */
  background: transparent url(/common/images/footernav-selected.png) repeat-x top left;
  color: #404355;
}




/* Springboards */

/* Overall size of one cell in a springboard (grid of icons) */
.springboard div {	
	font-size: 76.5%;	/* Font size of text label below icon */
	line-height: 1.1em;
	width: 77px;
	height: 98px;
}

.springboard a img {
	/* Size of each standard icon image in a springboard */
	width: 60px;
	height: 60px;
}

.springboard .separator {
	/* Height of extra gap between main and utility-class springboard items */
	height: 10px;
}


.springboard .secured {
	/* Overlay image to indicate that a module is password-protected */
	/* Adjust size to fit /common/images/secured.png, and adjust position to fit springboard icon size */
	top: 45px;
	right: 4px;
	width: 18px;
	height: 22px;
}

.springboard .utility .secured {
	/* Adjust position to fit springboard icon size for utility-class module icons */
	top: 26px;
	right: 12px;
}
