<configuration>
<system.webServer>
<rewrite>
<rules>
    <rule name="Imported Rule 1" stopProcessing="true">
        <match url="^(.*)(device/[^/]+/)(min/.*)$" ignoreCase="false" />
        <action type="Rewrite" url="{R:1}{R:3}" appendQueryString="true" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
        <match url="^(.*)$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^min/.*$$" ignoreCase="false" negate="true" />
            <add input="{URL}" pattern="^(.*)$" ignoreCase="false" />
        </conditions>
        <action type="Rewrite" url="index.php?_path={C:1}" appendQueryString="true" />
    </rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
