li .deletehandle {
    float: left;
    background-image: url(/modules/home/images/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

li .moveup {
    width:26px;
    height:26px;
    background-image:url(/modules/home/images/button-up.png);
}

li .movedown {
    width:26px;
    height:26px;
    background-image:url(/modules/home/images/button-down.png);
}

li:first-child .moveup {
    background-image:url(/modules/home/images/button-up-alpha.png);
    /* opacity:0.33; */
}
li:last-child .movedown {
    background-image:url(/modules/home/images/button-down-alpha.png);
    /* opacity:0.33; */
}

span.movebuttons {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 52px;
}

span.movebuttons div {
    float: left;
}

li label {
    float: none;
    margin-bottom: 5px;
}

li input[type=text] {
    margin-left: 28px;
}