.header {
    overflow: hidden;
}

.header .photo {
    float: left;
    margin-right: 9px;
}

.header h2 {
    margin-bottom: 0.125em;
}

#bookmarkContainer {
	float: right;
    margin: 0 0 0 5px;
}
