#container{
    background-color: #202020;
}

.gallery {
	overflow:hidden;
	width: 888px;
	margin: 60px auto 100px auto;
}

.gallery div {
	height:150px;
	width: 150px;
	margin: 2px;
	overflow: hidden;
	float: left;
	background-color: #000
}

.gallery img {
	width: 100%;
}

@media only screen and (max-width: 800px) {
/* rewrap to 4-wide in portrait orientation */
    .gallery {
        width: 616px;
    }
}

@media only screen and (min-width: 1200px) {
/* rewrap to 7-wide on wider screens */
    .gallery {
        width: 1078px;
    }
}

@media only screen and (min-width: 1320px) {
/* rewrap to 8-wide on widest screens */
    .gallery {
        width: 1232px;
    }
}
