body.PhotosModule .photo {
	/* Background color for photo detail; should be white in most cases */
  background-color: @@@focal_background_color@@@;
  padding: 0.67em;
}

body.PhotosModule #navbar {
	margin-bottom: 0;
}

.description {
  margin: 1.5em 0;
  font-size: 87.5%;
  line-height: 1.4em;
  color: @@@secondary_text_color@@@;
}

.photo img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
}

