body {
	background-color: #eee; 
	text-align: center;
	margin: 0;
}
body, select, input, option, textarea {
	font: 13px/1.333em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #555;
}
a {
	color: #555;
}
a:visited {
	color: #555;
}
a:hover {
	color: #88a900;
}
#pagewrap {
	position: relative;
	min-width: 960px;
	margin: 0 auto;
	text-align: left;
}

header {
	padding: 15px 0 30px 0;
	float: left;
	width: 100%;
}
#logo {
	float: left;
	margin-right: 15px;
}
header h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	color: #888;
	margin: 0;
	padding-top: 13px;
}
#sitename {
	display: block;
	font-size: 30px;
	line-height: 36px;
	color: #000;
}
#utility {
	position: absolute;
	top: 0;
	right: 3px;
	width: 400px;
	text-align: right;
}
#user {
	position: absolute;
	top: 33px;
	right: 0;
	line-height: 18px;
	color: #777;
	width: 340px;
}
#username {
	color: #333;
	font-weight: bold;
}
#signout {
	display: inline-block;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
	color: #777;
}

#contentwrap {
	position: relative;
	height: 100%;
	clear: both;
	margin: 15px 0;
}
nav {
	float: left;
	width: 280px;
	margin-top: 2px;
}
nav h1 {
	display: none;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	border-top: 4px solid #d0d0d0;
}
nav ul ul {
	margin-left: 20px;
	font-weight: normal;
	text-transform: none;
	border-top-width: 1px;
}
nav ul li {
	margin: 0;
	padding: 0;
	border-bottom: 4px solid #d0d0d0;
}
nav ul ul li {
	border-bottom-width: 1px;
}
nav ul ul li:last-child {
	border-bottom: none;
}
nav a {
	display: block;
	text-decoration: none;
	color: #555;
	padding: 8px 8px 8px 34px;
	line-height: 1.1em;
}
nav a:hover {
	color: #000;
	background: url(/modules/admin/images/nav-bullet-hover.png) no-repeat 14px center;
}
nav a.current {
	color: #000;
	font-weight: bold;
	background: url(/modules/admin/images/nav-bullet.png) no-repeat 14px center;
}
nav ul ul a {
	padding-top: 6px;
	padding-bottom: 6px;
}
#content {
	min-height: 600px;
	margin-left: 320px;
	background-color: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	padding: 18px 16px;
}
#content h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	line-height: 1.2em;
	color: #555;
	margin: 0 0 10px 0;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #ddd;
}
.preamble {
	color: #777;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.formfields {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.formfields .formfield {
	margin: 1.67em 0;
	padding: 0;
	position: relative;
}
input {
	color: #000;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], select, textarea {
	width: 440px;
	color: #333;
}

#newModuleID {
    width: auto;
}

input#adminCancel {
	background-color: #a22;
	float: right;
	color: #fff;
	border: none;
	margin-top: 3px;
	height: 32px;
	padding: 0 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
}
input#adminCancel:hover {
	color: #fff;
	background-color: #622;
	border-color: #a00;
}
input#adminCancel:active {
	color: #000;
	background-color: #88a900;
}

input[type="submit"] {
	float: right;
	background-color: #b5cf4b;
	color: #fff;
	border: none;
	margin-top: 3px;
	height: 32px;
	padding: 0 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
}
input[type="submit"]:hover {
	color: #000;
}
input[type="submit"]:active {
	color: #000;
	background-color: #88a900;
}
label {	
	display: inline-block;
	width: 140px;
	padding-right: 10px;
	text-align: right;
	font-size: 100%;
	line-height: 1.6em;
	font-weight: bold;
}
.helptext, .checkitem label, .tallfield textarea, .infotext, .labeltext {
	margin-left: 150px;		/* same as width plus padding-right of label */
}

td .labeltext {
    margin: auto;
    line-height: 1.6em;
}


.tallfield .helptext {
/*    margin-left: 0; */
}


ul.sublist {
    margin: 0;
    padding: 0;
}

ul.sublist>li.formfield {
    border: 1px solid #e0e0e0;
    border-top: none;
    list-style:none;
    margin: 0; 
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    min-height: 36px;
}

ul.ui-sortable li.ui-sortable-helper,
ul.sublist>li:first-child {
    border-top: 1px solid #e0e0e0;
}


ul.sublist .edithead {
    padding: 3px;
    line-height: 29px;
}

ul.ui-sortable .edithead {
    margin-left: 38px;
}


ul.sublist .handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 29px;
    height: 29px;
    background-image: url(/common/images/handle.png);
    background-repeat: no-repeat;
    cursor: move;
    background-position: 4px 4px;
}


ul.sublist .editrow {
}

ul.sublist .sectionid {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

ul.sublist .numeric {
    width: 20px;
}

ul.sublist .sectiontitle {
}

ul.sublist .rowbuttons {
    bottom: 3px;
    position: absolute;
    right: 5px;
}

.infotext,
.labeltext {
    margin-top: -18px;
    display:block;
}

.formfields .error {
    background-color: #fdd7de;
    padding: .5em;
}

.helptext {
	display: block;
	padding: 2px 0 0 4px;
	font-size: 85%;
	line-height: 1.33em;
	color: #777;
}
.checkitem input[type="checkbox"] {
	margin-left: 130px;
	position: relative;
	top: 2px;
}

.checkitem label {
	position: absolute;
	padding-left: 4px;
	width: auto;
	text-align: left;
}
.tallfield label {
	position: absolute;
	height: 27px;
	line-height: 27px;
}
.fullwidth label {
	position: relative;
	text-align: left;
}
input.field0 {
	width: 130px;
}
input.field1 {
	width: 150px;
}
input.field1s {
	width: 120px;
}
input.field2 {
	width: 280px;
}
input.field2s {
	width: 260px;
}
input.field3 {
	width: 420px;
}
input.field3s {
	width: 400px;
}
footer {	
	float: right;
	clear: both;
	padding: 10px 0 20px 0;
	text-align: right;
	font-size: 84.6%;
	line-height: 50px;
	color: #555;
}
footer a {
	color: #555;
	text-decoration: none;
}
#footerlogo {
	border: none;
	float: right;
	padding-left: 12px;
	height: 50px;
	width: 50px;
}
table {
	width: 100%;
	line-height: 1.25em;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
table.subtable {
	border: 1px solid #e0e0e0;
}
th, td {
	padding: 3px;
	margin: 0;
	border: none;
	min-width: 40px;
}
th {
	padding: 3px 4px 5px 4px;
	background-color: #fff;
	line-height: 1.1em;
	border-bottom: 3px solid #888;
}
td {
	border-bottom: 1px solid #e0e0e0;
}
td:first-child {
	min-width: 20px;
}
table.subtable td:first-child {
	padding-left: 5px;
}
table.subtable .formfields .formfield {
	margin: 6px 0 12px 0;
}
table.subtable label {
	width: 120px;
	top: 0.25em;
	font-weight: normal;
}
table.subtable th {
	border-bottom: 2px solid #999;
}
select.filePrefix {
    width: 100px !important;
}
input.fileData{ 
    margin-left: 10px;
    width: 330px;
}
input.timeData {
    width: 100px;
    margin-right: 10px;
}

ul.sublist>li.editing {
    border: none;
}

.editing .edithead {
    display: none;
}

.editing .editrow {
    display:block;
}

.editrow {
	background-color: #ffecbf;
	border: 1px solid #ffe16a;
	color: #000;
	padding-bottom: 6px;
	display:none;
}
.editrow input, .editrow select, .editrow .helptext, .editrow span {
	margin-left: 150px;
	width: 310px;
}
.rowbuttons {
	text-align: right;
}
.tablebuttons {
	margin: 4px 0;
	text-align: right;
}
a.textbutton {
	display: inline-block;
	text-align: center;
	min-width: 50px;
	margin: 2px;
	padding: 4px 6px;
	line-height: 1.2em;
	text-decoration: none;
	border: 1px solid #ddd;
	background-color: #f6f6f6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
a.textbutton:hover {
	color: #fff;
	background-color: #666;
	border-color: #666
}
a.textbutton:active {
	color: #fff;
	background-color: #333;
	border-color: #333
}
a.textbutton.save {
	color: #fff;
	font-weight: bold;
	background-color: #b5cf4b;
	border-color: #a9c82a;
}
a.textbutton.save:hover {
	color: #000;
}
a.textbutton.save:active {
	color: #000;
	background-color: #88a900;
	border-color: #88a900;
}
a.textbutton.add:hover {
	color: #000;
	background-color: #b5cf4b;
	border-color: #a9c82a;
}
a.textbutton.add:active {
	background-color: #88a900;
	border-color: #88a900;
}
a.textbutton.edit:hover {
	color: #000;
	background-color: #fce99d;
	border-color: #ffe16a;
}
a.textbutton.edit:active {
	color: #000;
	background-color: #f8c704;
	border-color: #f8c704;
}
a.textbutton.delete:hover {
	color: #fff;
	background-color: #a22;
	border-color: #a00;
}
a.textbutton.delete:active {
	color: #fff;
	background-color: #700;
	border-color: #700;
}
dl {
	font-size: 85%;
	margin: 2em 0;
}
dt {
	float: left;
	text-align: right;
	min-width: 120px;
	font-weight: bold;
	padding-right: 0.5em;
}
dt:after {
	content:": ";
}
h1 img {
    vertical-align: middle;
}

#homescreen_layout {
    float: left;
}

#homescreen_layout h2 {
    font-size: 14px;
    margin: 0;
    padding: 4px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background: #eee;
    border-bottom: 1px solid #999;
    
}

.section_wrapper {
    padding: 0px;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 10px 0;
}

.springboard {
	margin: 0;
	width: 100%;
	padding: 6px;
}

.springboard div {
    cursor: move;
	position: relative;
	margin: 0;
	padding: 8px 5px;
	border: 0;
	float: left;
	text-align: center;		
	vertical-align: top;
}

.springboard img {
	height: 50px;
	width: 50px;
	margin-bottom: 1px;
}

.springboard .separator {
	display: block;
	width: 100%;
	height: 18px;
	clear:both;
	margin: 0;
	padding: 0;
	float: none;
}
.springboard .badge img {
	position: absolute;
	right: 12px;
	top: 5px;
	width: 24px;
	height: 24px;
	padding-top: 5px;
	text-align: center;
	color: #fff;
	font-size:70.59%;
	font-weight: bold;
	background-image: url(/common/images/badge.png);
	background-repeat: no-repeat;
}

.springboard .secured {
	position: absolute;
	z-index: 100;
	top: 45px;
	right: 4px;
	width: 18px;
	height: 22px;
	background: url(/common/images/secured.png) no-repeat;
}

.springboard .utility .secured {
	top: 28px;
	right: 14px;
}

.springboard_clear {
    clear: left;
}

.springboard input {
    display:block;
    width: 80px;
    text-align: center;
}

.ui-sortable-helper {
}

#message {
	text-align: center;
	font-weight: bold;
	margin: 2px 2px 10px 2px;
	height: 20px;
	padding: 4px 6px;
	line-height: 20px;
	text-decoration: none;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #88A900;
}

#message.errormessage {
    background-color: #A00;
    color: white;
}

#adminSections {
    height:30px;
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
}

#moduleDescription {
}

#moduleImage {
	margin-top: -8px;
}

#adminSections li {
    text-align: center;
    float: left;
    list-style: none;
    padding: 0 10px;
    line-height: 28px;
	margin: 1px;
}

#adminSections li.selected {
    background-color: #e3e3e3;
	border: 1px solid #ccc;
	margin: 0;
    border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#adminSections li.common {
}

#adminSections li.module {
}

#adminSections li.module a {
    color: black;
    font-weight: bold;
}

#adminSections li.hidden {
/*    display: none; */
}

#adminFields li.hidden {
    margin: 0;
    visibility: hidden;
}

#adminSections li a {
    text-decoration:none;
    display: block;
}

#adminSections li.selected a {
	color: #000;
}

.sectionsnone {
    font-weight: bold;
    text-align: center;
}

table .labelfield label {
    font-weight: bold;
    top: 0;
}

a.formbutton {
  cursor: default;
	text-align: center;
	display: inline-block;
	padding-right: 7px;
	background-image: url(/common/images/button-sd-r.png);
	background-repeat: no-repeat;
	background-position: right;
	margin: 0 5px;
	height: 36px;
	text-decoration: none;
}

a.formbutton div {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 94.12%;
	line-height: 26px;  /* height minus padding */
	text-decoration: none;
	padding: 5px 5px 5px 12px;
	background-image: url(/common/images/button-sd-l.png);
	background-repeat: no-repeat;
	background-position: left;
	text-decoration: none;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 1.5em;
    padding: 0;
}

fieldset.collapsable {
    border: none;
}

.fieldgroup-legend {
    padding: 4px 6px;
    font-weight: bold;
    font-size: 110%;
}


.fieldgroup {
}

.fieldgroup-legend {
}

.collapsable .fieldgroup-legend {
    cursor: pointer;
	display: inline-block;
	text-align: center;
	min-width: 50px;
	margin: 2px;
	padding: 4px 6px;
	line-height: 1.2em;
	text-decoration: none;
	border: 1px solid #ddd;
	background-color: #f6f6f6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 150px;
    font-size: 100%;
    font-weight: normal;
}

.fieldgroup-description {
	margin-left: 6px;		/* same as width plus padding-right of label */
	display: block;
	padding: 2px 0 0 0px;
	font-size: 85%;
	line-height: 1.33em;
	color: #777;
}

.collapsable .fieldgroup-description {
	margin-left: 150px;		/* same as width plus padding-right of label */
}

p.blurb	{
	font-size: 20px;
	line-height: 26px;
	color: #898989;
	}

input.admin-button	{
float: left;
width: 150px;
margin-right: 20px;
}


