label {
    display: block;
    font-weight: bold;
}

input[type=text] {
    width: 90%;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
}

#addModuleID {
    width: auto;
}

.advancedFeedFields {
    display: none;
    margin-left: 0;
    padding-left: 0;
}

ul.nav .smallprint {
    display: block;
    margin: .5em 0 .5em 0;
    color: #aaa;
}