/* Springboards */

.springboard div {
	/* Overall size of one cell in the springboard */
	width: 76px;
	height: 106px;
}

.springboard div a {	
	/* Color and size of text label below each springboard icon */
	font-size: 90%;
}

.springboard a img {
	/* Size of actual item icon in springboard - for best results make actual PNGs match this size */
	width: 64px;
	height: 64px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 76px;
	height: 94px;
}

.springboard div.utility a {
	font-size: 90%;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items - for best results make actual PNGs match this size */
	width: 42px;
	height: 42px;
}


.springboard .secured {
	/* Overlay image to indicate that a module is password-protected; adjust size to fit /common/images/secured.png, and adjust position to fit springboard icon size */
	top: 45px;
	right: 0;
	width: 18px;
	height: 22px;
}

.springboard .utility .secured {
	/* Adjust position to fit springboard icon size for utility-class module icons */
	top: 28px;
	right: 10px;
}

.nonfocal form {
	margin-left: -2px;
	margin-right: -2px;
}





/* Login-related buttons */

.loginbuttons li.facebook {
	background-image: url(/common/images/button-facebook-24.png);
}

.loginbuttons li.google {
	background-image: url(/common/images/button-google-24.png);
}

.loginbuttons li.oauth {
	background-image: url(/common/images/button-oauth-24.png);
}

.loginbuttons li.openid {
	background-image: url(/common/images/button-openid-24.png);
}

.loginbuttons li.twitter {
	background-image: url(/common/images/button-twitter-24.png);
}

.loginbuttons li.windows {
	background-image: url(/common/images/button-windows-24.png);
}
