html, body {
	margin: 0;
	padding: 0;
	background-color: #3d3d3d;
}

body {
	font: 12px/20px Arial, sans-serif;
	padding: 0;
	margin-bottom: 30px;
}	

p {
	margin: 0 0 20px 0;
}

a {
	color: #c0c0c0;
}

a:visited {
	color: #e0e0e0;
}

a:hover {
	color: #f22;
}

a:active {
	color: #900;
}

a img {
	border: none;
}

img {
	border: none;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 930px;
}

#focal {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 488px;
	background: #749ac0 url(images/home/back.jpg) repeat-x;
	border-bottom: 2px solid #393939;
}

#introduction {
	position: absolute;
	top: 4px;
	left: 0;
	width: 285px;
	font-size: 14px;
	color: #1c2630;
	line-height: 20px;
}

h1 {
	margin: 0 0 24px 1px;
	padding: 0;
	font-weight: normal;
	width: 400px;
}

h2 {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 19px;
	font-weight: normal;
	color: #fff;
	line-height: 20px;
}

#introduction p.lead {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	color: #222833;
	line-height: 30px;
}

#introduction p.lead strong {
	font-weight: bold;
	color: #c00;
}

#introduction a {
	color: #fff;
	text-decoration: none;
}

#introduction a:hover {
	text-decoration: underline;
}

#introduction p.lead a {
	font-weight: bold;
	color: #c00;
}

#preview {
	display: block;
	margin-top: 25px;
	padding: 11px;
	background-color: #5e87af;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	text-decoration: none!important;
	line-height: 18px;
}

#preview:hover {
	background-color: #215e9a;
}

#preview img {
	float: left;
	margin-right: 8px;
	border: 0;
}

#istlogo {
	position: absolute;
	top: 75px;
	left: 792px;
}

.content {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -450px;
	width: 900px;
}

#support {
	position: relative;
	margin: 35px 0;
	color: #ddd;
}

#details {
	width: 570px;
	margin-right: 30px;
	float: left;
}

#details h2 {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 20px 0;
	color: #bbb;
}

#details h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding-top: 20px;
	color: #fff;
}

.module {
	margin: 0;
	clear: left;
}

.module strong {
	font-weight: bold;
	color: #fff;
}

.thumbnail {
	border: 0;
	float: left;
	margin: 0 15px 20px 0;
}

#sidebar {
	width: 300px;
	float: right;
	color: #000;
}

#sidebar h2 {
	font-size: 19px;
}

#sidebar a {
	color: #000;
}

#sidebar a:hover {
	color: #fff;
}

#sidebar a:active {
	color: #000;
}

#sidebar ol {
	margin: 10px 0;
	padding-left: 1.4em;
}

#sidebar ul {
	margin:  0;
	padding-left: 1.4em;
}

.helptext {
	font-weight: normal
}

.text {
	margin-left: 140px
}

.label {
	color: #fff;
	font-weight: bold;
	width: 90px;
}

.note {
	color: #ccc
}

#sidebar .note a {
	color: #ccc
}

#sidebar .note a:hover {
	color: #fff
}

#feedback {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #5e87af;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
}

#feedback:hover {
	background-color: #215e9a;
	color: #fff;
}

#feedback:active {
	background-color: #4182c2;
}

#feedback a {
	color: #fff;
	text-decoration: none;
}

#feedback h2 {
	margin-bottom: 6px;
	color: #fff;
}

#howto {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #e0e0e0;
	color: #444;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#howto h2 {
	margin-bottom: 6px;
	color: #000;
}

#howto strong {
	color: #000;
}

#iphoneapp {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #000;
	color: #ccc;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#iphoneapp h2 {
	margin-bottom: 6px;
	color: #ccc;
}

#iphoneapp a {
	color: #fff;
}

#iphoneapp h2 a {
	color: #fff;
	text-decoration: none;
}

#androidapp {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #000;
	color: #ccc;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#androidapp h2 {
	margin-bottom: 6px;
	color: #000;
}

#androidapp a {
	color: #fff;
}

#androidapp h2 a {
	color: #fff;
	text-decoration: none;
}

#whatsnew {
	padding: 15px;
	margin-bottom: 20px;
	color: #000;
	background-color: #c0db77;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#whatsnew h2 {
	margin-bottom: 9px;
	color: #000;
}

#caution {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #ffdb66;
	color: #000;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#caution h2 {
	margin-bottom: 9px;
	color: #333;
}

.icon {
	border: 0;
	vertical-align: middle;
	padding-right: 5px
}

.nospace {
	margin-bottom: 0;
}

.address {
	margin: 10px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#support .address a {
	color: #000;
	text-decoration: none;
}

#support .address a:hover {
	color: #f00;
	text-decoration: underline;
}

#support .address a:active {
	color: #900;
}

.smallprint {
	color: #555;
	font-size: 12px;
	line-height: 15px;
}

.floatleft {
	float: left;
	margin-right: 10px;
}

.floatright {
	float: right;
	margin-left: 10px;
}


#footer {
	clear: both;
	padding: 50px 0 25px 0;
	font-size: 11px;
	line-height: 15px;
	height: 160px;
}

#footerlogo {
	margin-bottom: 8px;
	margin-left: -3px;
}

#footer strong {
	color: #fff
}
