/* Overall font and colors */

body {
	/* Primary font */
	font: 14px/1.25em sans-serif;
}

h1 {
	font-size: 142%; 
}

h2 {
	font-size: 133%; 
	font-weight: normal;
}

h3 {
	font-size: 100%; 
	font-weight: bold;
}

h4 {
	font-size: 100%; 
	font-weight: bold;
}



/* Standard navigation at bottom of all Basic pages */

.bottomnav {
	/* Usually set apart in a foreground/background color combination different from normal and secondary nav lists  */
	background-color: @@@navbar_background_color@@@;
	font-size: 93%;
}

.bottomnav a, .bottomnav a:visited {
	/* Navigation at bottom of page -- e.g., "Back to top" */
	color: @@@navbar_text_color@@@;
}



/* Tabs */

.tabs {
	/* Text labels of unselected tab */
	color: @@@secondary_text_color@@@;
}

.tabs .active {
	/* Text label of currently selected tabs */
	font-weight: bold;
	color: @@@strong_text_color@@@;
}

