/* Springboards */

.springboard {
	padding: 0 5px;
}

.springboard div, .springboard div.utility {
	/* Overall size of one cell in the springboard; for this device branch, this is the same for primary and utility-class springboard items */
	font-size: 100%;
	width: 5.1em;
	height: 6.7em;
}

.springboard div a, .springboard div.utility a {	
	/* Color and size of text label below each springboard icon; for this device branch, this is the same for primary and utility-class springboard items */
	font-size: 90%;
	line-height: 1.1em;
}

.springboard a img, .springboard div.utility a img {
	/* Size of actual item icon in springboard; for this device branch, this is the same for primary and utility-class springboard items - for best results make actual PNGs match this size */
	width: 64px;
	height: 64px;
}