#videoList li {
 height: 75px;
 padding: 0 10px 0 0;
 overflow: hidden;
}

#videoList a {
  margin-left: 100px;
  padding: 5px 18px 5px 10px;
  height: 65px;
  line-height: 22px;
}

#videoList img {
 height: 75px;
 width: 100px;
 left: -100px;
 top: 0;
}

.videoTitle {
    font-size: 20px;
    line-height: auto;
}