#newsHeader {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

table#newsHeader fieldset {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
}

table#newsHeader tr td {
  padding: 1em .5em 0 0;
  height: 40px;
  line-height: 40px;
}

table#newsHeader tr #categoryformcontainer {
  width: 19em;
  padding-left: .5em;
}

table#newsHeader #categoryformcontainer label {
  padding-right: .25em;
  font-size: 89%;
}
table#newsHeader #categoryformcontainer select {
  width: auto;
  min-width: 250px;
}

table#newsHeader tr #searchformcontainer form,
table#newsHeader #searchformcontainer fieldset {
  height: 40px;
  width: 100%;
  position: relative;
}
table#newsHeader #searchformcontainer fieldset .forminput {
  position: absolute;
  top: 0;
  right: 0;
  width: 89%;
}

form {
	margin: 0;
	padding: 0;
}

table form {
    margin-top: -8px;
}
#category-switcher .formlabel {
	width: 62px;
    text-align: right;
	font-size: 89%;
}
.header form {
    display: inline;
    margin: 0;
    padding: 0;
}
.header form input {
    line-height: normal;
}
.header form select {
    line-height: normal;
    padding: 4px 6px;
    font-size: 88.23%;
}

.header {
    padding: 10px 0 2px 0;
}

.header button {
    display: inline;
}

#footer {
    display:none;
}
