#newsHeader {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

#newsHeader fieldset {
  display: block;
  padding: 0;
  margin: 0;
  height: auto;
}

#newsHeader tr td {
  padding: 1em .5em 0 0;
  height: 40px;
  line-height: 40px;
}

#newsHeader tr #categoryformcontainer {
  width: 19em;
  padding-left: .5em;
}

#newsHeader #categoryformcontainer label {
  padding-right: .5em;
  font-size: 89%;
}
#newsHeader #categoryformcontainer select {
  width: auto;
  min-width: 250px;
}

#newsHeader tr #searchformcontainer form,
#newsHeader #searchformcontainer fieldset {
  height: 40px;
  width: 100%;
  position: relative;
}
#newsHeader #searchformcontainer fieldset .forminput {
  position: absolute;
  top: 0;
  right: 0;
  width: 89%;
}

form {
	margin: -8px 0 0 0;
	padding: 0;
}
.formlabel {
	width: 62px;
    text-align: right;
	font-size: 89%;
}
.header form {
    display: inline;
    margin: 0;
    padding: 0;
}
.header form input {
    line-height: normal;
}
.header form select {
    line-height: normal;
    padding: 4px 6px;
    font-size: 88.23%;
}

.header {
    padding: 10px 0 2px 0;
}

.header button {
    display: inline;
}

.landscape #tabletNews {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    height: 400px;
    position: relative;
}

#stories {
    position: relative;
    width: 342px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
}

.portrait #stories {
    width: auto;
    height: 93px;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid;
}

.portrait #stories .results {
    white-space: nowrap;
    position: absolute;
    overflow: visible;
    width: auto;
    height: 93px;
    margin: 0;
    top: 0;
    left: 0;
}

.landscape #storyDetailWrapper {
    position: relative;
    border-top: 1px solid;
	-webkit-box-flex:1;
}

#storyDetail {
    padding: .5em;
}


.portrait #stories .thumbnail {
    display: none;
}

.portrait #stories li {
    white-space: normal;
    width: 200px;
    display: block;
    float: left;
    border: none;
    padding: 0;
}

.portrait #stories li a {
    background-image: none;
}

.portrait #stories li .title {
    padding: 0;
}

.portrait #stories li .ellipsis {
    margin: .4em;
}


#stories .results {
    margin: 0;
    margin-top: -1px;
}

.results li.pagerlink {
	padding: 9px;
}

.results li.pagerlink a {
  color: #1A1611;
  font-weight: bold;
  background-image: none;
  font-size: 90%;
}

#footer {
    display:none;
}