#searchformcontainer fieldset .forminput {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; /* webkit only */
  width: auto;
}

.portrait #stories .thumbnail {
    display: block;
}

#stories {
    width: 342px;
}
