.news {
	background-color: #fff;
    padding: 0.67em;
}
#storybody div img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
}

.slugline {
	margin: 0 0 0.5em 0;
}

#image {
    text-align: center;
}

.wp-caption {
    width: auto !important;
    font-size: 84%;
}
