h1.slugline a {
    text-decoration: none;
}

li.story {
    height: 5.5em;
	  margin: 0;
    padding: 1px;
    overflow: hidden;
    position: relative;
}
.results li.story a {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 5.5em;
}
.results li.story a .ellipsis {
    overflow: hidden;
    margin: 0;
    margin: .4em 25px .4em 0;
    font-size: 82.35%;
    line-height: 1.36em;
    height: 5.9em;
}

.results li.story a .title {
    font-size: 114.29%;
	  color: #000;
    padding: 0 0 .25em 0;
}

.thumbnail {
    float:left;
    margin: 0 8px 0 0;
    width: 5.5em;
    height: 5.5em;
}

li.noimage {
    padding-left: .4em;
}

#newsHeader {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.landscape #tabletNews {
    -webkit-box-orient: horizontal;
    display: -webkit-box;
    height: 400px;
    position: relative;
}

#stories {
    position: relative;
    width: 342px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
}

.portrait #stories {
    width: auto;
    height: 93px;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid;
}

.portrait #stories .results {
    white-space: nowrap;
    position: absolute;
    overflow: visible;
    width: auto;
    height: 93px;
    margin: 0;
    top: 0;
    left: 0;
}

#storyDetailWrapper {
    position: relative;
}

.landscape #storyDetailWrapper {
    border-top: 1px solid;
	-webkit-box-flex:1;
}

.portrait #stories .thumbnail {
    display: none;
}

.portrait #stories li {
    white-space: normal;
    width: 200px;
    display: block;
    float: left;
    border: none;
    padding: 0;
    border-right: 1px dotted;
}

.portrait #stories li a {
    background-image: none;
}

.portrait #stories li .title {
    padding: 0;
}

.portrait #stories li .ellipsis {
    margin: .4em;
}


#stories .results {
    margin: 0;
    margin-top: -1px;
}

.results li.pagerlink {
	padding: 9px;
}

.results li.pagerlink a {
  color: #1A1611;
  font-weight: bold;
  background-image: none;
  font-size: 90%;
}

.news {
    padding: 12px;
}
