html {
	font-size: 13pt;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebe7dd; 
	background-image: url('/Basic/images/background-tile.png');
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.33em;
	color: #333;
	padding: 0em;
}

a img {
	border: none 
}

#container { 
	margin: 0 auto;
	padding: 0 2px;
	text-align: left;
	min-height: 400px;
}
#footer {
	clear: both;
	min-height: 22px;
	margin: 20px 10px 14px 10px;
	font-size: 78%;
	line-height: 1.1em;
	font-weight: normal;
	color: #554c41;
}
#footer a {
    text-decoration: none;
	color: #554c41;
}
#footer a:hover {
	color: #a00;
}

h1 {
	margin: 0;
	padding: 17px 0 11px 0;
	text-align: center;
	color: #000;
	font-size: 171%;
}
#homegrid {
	margin: 0 auto;
	padding: 0;
	margin-left: 2px;
}
#homegrid div {
	position: relative;
	width: 82px;
	height: 114px;
	margin: 1px 4px;
	padding: 0;
	border: 0;
	float: left;
	font-size: 16px;
	line-height: 1.1em;
	text-align: center;		
	vertical-align: top;
}
#homegrid a {	
	display: block;
	width: 76px;
	height: 106px;
	color: #333;
	text-decoration: none;
	border: none;
	padding: 4px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#homegrid a:hover {
	border: 2px solid #c00;
	padding: 2px 4px;
}
#homegrid a:active {
	border: 4px solid #c00;
	padding: 0px 2px;
}
#homegrid a img {
	margin-bottom: 1px;
	border: none;
}
#homegrid div.separator {
	clear:both;
	float: none;
	width: 100%;
	height: 10px;
}
.intro {
	margin-bottom: 0;
	text-align: center;
}
.fineprint {
	font-size: 80%;
	color: #404649;
	line-height: 1.2em;
}
.homepage .pagetitle {
	padding: 9px 5px;
	text-align: center;
}
#logo {
	padding: 0;
}
#new {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	background-image: url(images/newbig.jpg);
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	overflow: hidden;
}
#new a {
	display: block;
	width: 56px;
	height: 50px;
	padding: 0;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 18px;
	right: 7px;
}
#new a .newlabel {
	display: block;
	font-size: 9px;
	line-height: 11px;
	color: #ffcece;
}
#beta {
	position: absolute;
	top: 0;
	right: 0;
}
#viewfull {
	text-align: center;
	margin: 14px 0;
	font-size: 13px;
}
#homesearch {
	margin: 6px 0 16px 0;
	text-align: center;
}
#homesearch table {
	width: 100%;
}
.forminput {
	font-size: 100%;
	width: 100%;
	padding: 4px;
	border: 2px solid #554c41;
}
#download {
	text-align: left;
	clear: both;
	padding: 40px 10px 20px 10px;
}
#download a {
	color: #333;
	text-decoration: none;
}
#download a:hover {
	color: #a00;
}