/* Any special formatting for the Compliant-BlackBerry device class (Storm, Storm2, Torch) */

.springboard div {
	/* Overall size of one cell in the springboard */
	width: 76px;
	height: 106px;
}

.springboard div a {	
	/* Color and size of text label below each springboard icon */
	font-size: 90%;
}

.springboard a img {
	/* Size of actual item icon in springboard */
	/* For best results make actual PNGs match this size */
	width: 64px;
	height: 64px;
}

.springboard div.utility {
	/* Overall size of one cell in the springboard's fixed utility-type items */
	width: 76px;
	height: 94px;
}

.springboard div.utility a {
	font-size: 90%;
}

.springboard div.utility a img {
	/* Size of actual item icon in the springboard's fixed utility-type items */
	/* For best results on BlackBerries, make actual PNGs match this size */
	width: 42px;
	height: 42px;
}

.springboard .secured {
	/* Overlay image to indicate that a module is password-protected */
	/* Adjust size to fit /common/images/secured.png, and adjust position to fit springboard icon size */
	top: 45px;
	right: 0;
	width: 18px;
	height: 22px;
}

.springboard .utility .secured {
	/* Adjust position to fit springboard icon size for utility-class module icons */
	top: 28px;
	right: 10px;
}

.nonfocal form {
	margin-left: -2px;
	margin-right: -2px;
}


/* Nav bar at top of all screens other than home screen */

#navbar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	height: 48px;
}