#searchformcontainer {
  padding: 0;
  margin: 0;
}
#searchformcontainer form {
  position: relative;
  padding: 18px 12px 12px 12px;
  margin: 0;
}
#searchformcontainer fieldset:first-child {
  margin: 0 12em 0 0;
}
#searchformcontainer fieldset + fieldset {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 14em;
  margin: 0;
  text-align: right;
  height: 40px;
  line-height: 36px;
}
